body {
   background-color: LightGoldenRodYellow ;
}

.button {
    background-color: white;
    color: black; 
    border: none;
    padding: 6px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
} 

.selectedButton {
  background-color: Chartreuse;
}

img.decolor { 
-webkit-filter: grayscale(100%);
filter: grayscale(100%);
}

#fixedSizePannel{
  background-color: lightGrey;
}
.container{
    margin-top: 60px;
}

.active {
  background-color: LightGreen;
}

.inactive {
  background-color: grey;
  color:grey;
}
.boxShadow {
box-shadow: 0px 6px 40px #888888;
}

.title {
   background-color: lightblue;
  border: 2px white solid;
  border-radius: 5px 5px 0px 0px;
}

.title-font{
   font-family: 'Anton', sans-serif;
}

.userBox-font {
  font-family: 'Hammersmith One', sans-serif;
  font-size: 16px;
}

.img-circle {
  border: 2px CornflowerBlue solid;
    border-radius: 50%;
}


.hover-over {
  background-color: orange;
}

.hover-off {
  background-color: Lavender ;
}

a:link, a:visited,a:hover, a:active  {
  text-decoration: none;
  text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000;
  color: white;
}

.userList {
  padding: 12px;
  border-bottom: 1px white solid;
  border-left: 2px white solid;
  border-right: 2px white solid;
  border-top: 2px white solid;
  border-bottom: 2px white solid;
  
} 

.boxText {
  line-height: 50px;
  height: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



#outerlink {
  display: block;
}

.userBox {
  padding-top: 2px solid white;
  padding-bottom: 2px white solid;
}

#footer {
  height: 6px;
  background-color: DarkSlateBlue;
  
}

#sign {
  text-align: right;
}